@tailwind base;
@tailwind components;
@tailwind utilities;

.default-ltr-iqcdef-cache-17hp4kx {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  fill: currentcolor;
  display: block;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
